@media (max-width: 1199px) {
    section {
        margin-top: 0px;
    }

    /* section.home{
        padding-left: 0;
        width: 60%;
    } */

    .home-content {
        margin: 5vh;
        padding: 0;
    }

    .home-content p {
        margin: 20px;
        width: 100%;
    }

    .home-container {
        width: 80%;
    }

    .section-container {
        float: right;
        width: 75%;
    }

    .nav-logo {
        top: 30%;
        margin-bottom: 100px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aside {
        width: 25%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        padding: 0 0;
        border-right: 3px solid var(--skin-color);
        border-bottom-right-radius: 0;
        padding: 5px 5px;
    }

    .links,
    .navbar {
        flex-direction: column;
    }

    .navbar {
        align-items: center;
    }

    .links li {
        margin-left: -35px;
        margin-bottom: 10px;
    }

    .login-status {
        margin: auto;
        margin-top: 35px;
    }

    .our-team-container {
        display: grid;
        grid-template-columns: 200px 200px;
        row-gap: 20px;
        column-gap: 0;
        width: 70%;
    }

    .team-card {
        width: 200px;
    }

    h3.section-title {
        text-align: left;
        margin-left: 25%;
    }

    .team-card h3,
    .team-card h2 {
        text-align: center;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@media (max-width: 991px) {

    .section-container {
        width: 75%;
    }

    section.home {
        width: 100%;
        padding-left: 80px;
    }

    .home-container {
        width: 100%;
    }

    .home-content p {
        margin: 20px;
        width: 100%;
    }

    .aside {
        width: 25%;
    }

    .card {
        height: 350px;
    }

    header::before {
        background: transparent;
    }

    .services h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 818px) {
    .aside {
        width: 250px;
        left: -300px;
    }

    .section-container {
        width: 100%;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggler {
        display: flex;
        left: 330px;
    }

    .aside .nav-toggler.open {
        left: 270px;
    }

    section {
        height: 100%;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }

    .mentor,
    .about-container,
    .our-team {
        width: 100%;
    }

    h3.section-title {
        text-align: center;
        margin-left: 0;
        display: block;
    }

    .our-team-container {
        row-gap: 20px;
        width: 100%;
        gap: 40px;
    }

    .team-card {
        width: 200px;
    }

    .social-contacts i {
        font-size: 30px;
    }

    .contact-section .content {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .logo img {
        height: 150px;
    }

    .services-box h2 {
        font-size: 1.5rem;
    }

    .services-box p {
        font-size: 1rem;
    }

    .services-container .services-box {
        height: 400px;
    }

    .services h1 {
        font-size: 2rem;
    }
}

@media (max-width: 545px) {
    .our-team-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    section.home {
        padding-top: 6vh;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-content {
        margin-left: 0;
    }

    .home-content p {
        font-size: 20px;
    }

    .services-desc {
        font-size: 22px;
    }

    #typing {
        font-size: 28px;
    }

    .card {
        height: 230px;
    }

    .section-title {
        margin-bottom: 1.5rem;
    }

    .scrolling-wrapper-flexbox {
        margin-top: 40px;
    }

    .mentor img {
        height: 200px;
    }

    .team-card img {
        height: 180px;
    }


    .contact-section h1 {
        font-size: 35px;
    }

    .contact-section h2 {
        font-size: 1.8rem;
    }

    .contact-list li span , .contact-list li span a{
        font-size: 18px;
    }

    .logo img {
        height: 100px;
    }

    .social-contacts i {
        font-size: 20px;
    }

}