/* ====================== Home Section Start ======================= */
section.home {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.home-container {
    flex-direction: column;
}

.home {
    background: url(../assets/images/ComputerDesktopWallpapersCollection203_020.jpg);
}

.home-content p {
    margin: 20vh;
    color: white;
    font-size: 20px;
    z-index: 1;
    margin-bottom: 10vh;
}

.home-btn {
    position: absolute;
    bottom: 100px;
    margin-top: 10px;
    width: 250px;
    font-size: 22px;
    color: black;
    border-style: solid;
    border-image: linear-gradient(to right, purple, blue, purple) 1;
}

/* ====================== Home Section Start ======================= */


/* =================== TIMELINE START ======================== */

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 60px;
    align-items: center;
}

.card {
    flex: 0 0 auto;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    /* overflow: hidden; */
    animation: marquee 10s linear forwards;
}

.card h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 1.5rem;
    color: var(--text-black-dark);
}

.timeline-time {
    color: var(--text-black-dark);
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.timeline-time h3 {
    display: inline;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3rem;
}

.timeline-time h2 {
    margin-top: 10px;
}


.scrolling-wrapper-flexbox {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100%;
}


.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.card-1 {
    background-image: url(../assets/images/bulls-and-bear.jpg);
    background-size: cover;
    background-position: center;
}

.marquee-container {
    display: inline-block;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* ============================SERVICES==================== */
.services {
    min-height: auto;
    padding-bottom: 7rem;
}

.services h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.services .services-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 20rem;
    background-color: rgba(71, 86, 110, 0.5);
    width: 200px;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    border-top: 0.6rem solid #30049f;
    border-bottom: 0.6rem solid #30049f;
    transition: 0.5s ease;
}

.services-container .services-box h2 {
    color: white;
}

.services-container .services-box:hover {
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.services-box i {
    color: #129cdc;
    font-size: 7rem;
}

.services-box h2 {
    font-size: 2.0rem;
    transition: 0.5s ease;
}

.services-box h2:hover {
    color: #30049f;
}

.services-box p {
    font-size: 1.2rem;
    margin: 1rem 0 2.5rem;
    color: white;
}

.services-box a {
    text-decoration: none;
}


/* ======================= OUR TEAM ============================== */

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.mentor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.mentor h2 {
    margin-top: 30px;
    color: #ffffff;
}

.mentor img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 30vh;
}

.our-team {
    width: 70%;
}

.team-card {
    flex-direction: column;
}

.team-card h3,
.team-card h2 {
    color: #ffffff;
}

.team-card h2 {
    margin-top: 20px;
}

.team-card img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 180px;
    width: 160px;
}

.our-team-container {
    justify-content: space-between;
}

/* ====================== Contact Page ===================== */

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* color: white; */
    /* background-color: rgba(71, 86, 110, 0.5);
     */
    background-color: #fff;
}

.contact-left h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}

.contact-list li {
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li h3 i {
    color: #6a59d1;
    font-size: 1.3em;
}

.contact-list li span {
    color: #777;
    margin-left: 40px;
}

.contact-list li span a {
    color: #777;
}

.contact-right p {
    color: #777;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.contact-right p span {
    color: #0e2431;
    font-weight: 700;
}

.contact-form input,
.contact-form textarea {
    border: none;
    color: #0e2431;
    background: rgba(106, 89, 209, 0.1);
    font-size: 1em;
    margin-bottom: 20px;
    padding: 15px 40px 40px 20px;
    border-radius: 5px;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

::placeholder {
    color: #0e2431;
}

.contact-form .first-row input {
    width: 100%;
}

.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input {
    width: 48%;
}

.contact-form .btn {
    border: none;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
}

/* ====================== Contact Us ====================== */

.contact-container {
    background-color: rgba(71, 86, 110, 0.5);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
}

.logo img {
    border-radius: 50%;
    height: 25vh;
}

.social-contacts {
    justify-content: space-between;
}

.social-contacts i {
    font-size: 2.2vw;
    color: #ffffff;
    justify-content: space-between;
    margin-left: 30px;
}

.social-contacts i:hover {
    cursor: pointer;
}

.connect-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ============================= PopUp ================================ */

.login-popup {
    position: relative;
    transition: filter 0.3s ease;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(71, 86, 110, 0.5);
    border-radius: 20px;
    background-color: rgb(71, 86, 110);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: none;
    position: fixed;
    overflow: hidden;
    transform: scale(0);
    transition: transform 1s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
    z-index: 20;
    top: 20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #0b2234;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}