body {
    font-family: 'Poppins', sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background: url(../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

header {
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgba(71, 86, 110, 0.9);
}

header .logo-nav img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}

.nav-btn i{
    margin-right: 6px;
    font-size: 15px;
}

section.home {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.home-container {
    flex-direction: column;
}

/* .home-img img{
    z-index: 1;
    filter: invert(100%);
    bottom: 0;
} */

.home{
    background: url(../assets/images/header-bg.png);
    filter: invert(100%);
}

.home-content p {
    margin: 10vh;
    color: white;
    font-size: 20px;
    filter: invert(100%);
    z-index: 1;
}

.home-btn {
    margin-top: 30px;
    width: 240px;
    filter: invert(100%);
}


/* =================== TIMELINE START ======================== */

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap: 60px;
    align-items: center;
}

.card {
    flex: 0 0 auto;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    /* overflow: hidden; */
    animation: marquee 10s linear forwards;
}

.card h2 {
    text-align: center;
    font-weight: 700;
    margin-top: 1.5rem;
    color: var(--text-black-dark);
}

.timeline-time {
    color: var(--text-black-dark);
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.timeline-time h3 {
    display: inline;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3rem;
}

.timeline-time h2 {
    margin-top: 10px;
}


.scrolling-wrapper-flexbox {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    width: 100%;
}


.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.card-1 {
    background-image: url(../assets/images/bulls-and-bear.jpg);
    background-size: cover;
    background-position: center;
}

.marquee-container {
    display: inline-block;
    animation: marquee 20s linear infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* ======================= OUR TEAM ============================== */

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.mentor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.mentor h2{
    margin-top: 30px;
    color: #ffffff;
}

.mentor img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 30vh;
}

.our-team {
    width: 70%;
}

.team-card {
    flex-direction: column;
}

.team-card h3,
.team-card h2 {
    color: #ffffff;
}

.team-card h2 {
    margin-top: 20px;
}

.team-card img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 20vh;
    /* height: 200px; */
}

.our-team-container {
    justify-content: space-between;
}

/* ====================== Contact Us ====================== */

.contact-container{
    background-color: rgba(71, 86, 110, 0.5);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
}

.logo img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 25vh;
}

.social-contacts{
    justify-content: space-between;
}

.social-contacts i{
    font-size: 2.2vw;
    color: #ffffff;
    justify-content: space-between;
    margin-left: 30px;
}

.connect-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}