@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-black-dark: #e7e7ed;
    --bg-black-med: #e7e5e8;
    --bg-black-light: #fcf6ff;
    --text-black-med: #5e5c80;
    --text-black-light: #ffffff;
    --text-size-medium: 1.4rem;
    --text-size-large: 2rem;
    --text-size-small: 1rem;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --skin-color: #06b6d4;
}


* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.bttn {
    width: 8rem;
    color: var(--text-black-light);
    border-radius: 0.8rem;
    font-size: 1.rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    background: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0)), var(--skin-color);
    border: none;
    transition: .2s;
    cursor: pointer;
}

.bttn:hover {
    color: var(--skin-color);
    background-color: transparent;
    border: 2px solid var(--skin-color);
}

section {
    padding: 40px 80px;
    width: 100vw;
    height: 100vh;
}

.section-title{
    font-size: 2.2vw;
    font-weight: 800;
    text-align: center;
    color: var(--text-black-dark);
    margin-bottom: 6rem;
}

.subtitle{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    color: var(--text-black-dark);
    margin-bottom: 3rem;
}