@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --text-black-dark: #e7e7ed;
    --bg-black-med: #e7e5e8;
    --bg-black-light: #fcf6ff;
    --text-black-med: #5e5c80;
    --text-black-light: #ffffff;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --skin-color: #11afcb;
}


* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background: url(../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
}

.bttn {
    width: 8rem;
    color: var(--text-black-light);
    border-radius: 0.6rem;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), var(--skin-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.bttn:hover {
    color: var(--skin-color);
    background-color: transparent;
    border: 2px solid var(--skin-color);
}


section {
    padding: 40px 80px;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
}

.section-title {
    font-size: max(2.2vw, 30px);
    font-weight: 800;
    text-align: center;
    color: var(--text-black-dark);
    margin-bottom: 3rem;
}

.subtitle {
    font-size: max(1.5vw, 20px);
    font-weight: 600;
    text-align: center;
    color: var(--text-black-dark);
    margin-bottom: 2rem;
}

.blur {
    filter: blur(3px);
    transition: filter 0.3s ease;
}

/* =================================== Navigation Bar Start ============================= */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255,255,255,0.2);    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 90px;
    z-index: 100;
}
header::before{
    content: '';
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,.4),transparent);
    transition: .5s;
}
header:hover::before{
    left: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img{
    margin-top: 0;
    height: 80px;   
    width: 250px;
    cursor: pointer;
}
.navbar a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding-left: 35px;
    font-weight: 700;
}
.navbar button{
    margin-left: 35px;
    width: 90px;
    font-size: 20px;
}
.navbar a:hover{
    color: var(--skin-color);
}

.nav-btn {
    margin-right: 3rem;
    position: relative;
    margin-left: 3rem;
}

.nav-tab li {
    position: relative;
}

.nav-tab li a::after {
    content: '';
    position: absolute;
    left: 32px;
    bottom: -6px;
    width: 80%;
    height: 4px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-tab li a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* =================================== Navigation Bar Ends ============================= */