@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    background: url(../../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    padding: 1.5rem 3rem;
}

nav {
    position: sticky;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
}

header .logo img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}

.main-content {
    justify-content: space-evenly;
    flex-direction: column;
    /* column-gap: 100px; */
}

section {
    margin-top: 0;
    margin-bottom: 0;
}

.bg-blur {
    background-color: rgba(71, 86, 110, 0.7);
}

.styling{
    font-size: 50px;
    font-weight: 600;
}

.greet {
    margin-bottom: 20px;
}

.chota-dhobi {
    border-radius: 15px;
}

.chota-dhobi-content {
    justify-content: space-evenly;
    column-gap: 100px;
    background-color: rgba(1, 1, 1, 0.6);
    border-radius: 10px;
    width: 90%;
    padding: 40px 40px;
}

.chota-dhobi-dashboard {
    border: 2px solid white;
    max-height: 500px;
    padding: 50px 40px;
    border-radius: 10px;
    animation: fadeIn 1s;
}

.chota-dhobi-left,
.chota-dhobi-right {
    flex-direction: column;
    animation: fadeIn 1s;
    /* background-size: cover; */
}

.chota-dhobi-left img {
    animation: swing 5s infinite;
}

.chota-dhobi-center {
    display: none;
    border: 2px solid white;
    height: 520px;
    padding: 30px 20px;
    border-radius: 10px;
    animation: fadeIn 1s;
    width: 40%;
}

.chota-dhobi-status {
    flex-direction: column;
}

.chota-dhobi-right {
    flex-direction: column;
    display: none;
    border: 2px solid white;
    height: 460px;
    padding: 20px 20px;
    border-radius: 10px;
}

.chota-dhobi-right .subtitle {
    margin-bottom: 20px;
}

.washes-left {
    margin-bottom: 5px;
}

.submit-clothes-btn {
    margin-top: 30px;
    width: 200px;
    padding: 10px 5px;
    font-size: min(2vh, 20px);
}


@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

#clothDescription {
    background-color: rgba(71, 86, 110, 0.7);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 2.3vh;
    margin: auto;
    margin-left: 25px;
    margin-right: 10px;
    max-width: 100%;
    min-width: 90%;
    height: 200px;
}

.clothes-numb-details,
.clothes-tag-details {
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: max(2.5vh, 2.5vw);
    padding: 25px 25px;
    width: 100px;
}

.clothes-numb-details i,
.clothes-tag-details i {
    margin-bottom: 10px;
}

.clothes-numb-details span,
.clothes-tag-details span {
    font-weight: 600;
    font-size: max(2vh, 2vh);
}

.washing-status {
    gap: 40px;
    /* flex-direction: column; */
}

.chota-dhobi-history {
    color: white;
    background-color: rgba(71, 86, 110, 0.7);
    padding: 20px 20px;
    border-radius: 10px;
    flex-direction: column;
}

.chota-dhobi-history .subtitle {
    margin-bottom: 10px;
}

.chota-dhobi-history ul {
    list-style: none;
}

.collect-btn {
    margin-top: 20px;
    display: none;
}

.chota-dhobi-status-header {
    gap: 40px;
    margin-bottom: 50px;
}

.chota-dhobi-status-header .subtitle {
    margin-bottom: 0;
}

.current-status {
    border: 2px solid red;
    border-radius: 10px;
    font-size: 18px;
    color: red;
    font-weight: 500;
    padding: 10px 10px;
}

.dot {
    background-color: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.status-content {
    color: white;
    width: 90%;
    font-size: 17px;
    margin-top: 50px;
    padding: 15px 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.submit-btn {
    width: 200px;
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes grow-shrink {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}


.chota-dhobi-right .submit-input input,
select {
    width: 80%;
    margin: 20px 10px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(71, 86, 110, 0.7);
    color: white;
    text-align: center;
}

.chota-dhobi-right .submit-input input::placeholder {
    color: white;
}


.queries-container {
    background-color: rgba(71, 86, 110, 0.7);
    border-radius: 10px;
    width: 90%;
    padding: 40px 40px;
    flex-direction: column;
}

.queries-form {
    flex-direction: column;
}

.queries-content {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.queries-img img {
    width: 26vw;
    animation: grow-shrink 8s infinite;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.queries-form input {
    margin-top: 10px;
}

.queries-form input[type="text"],
.queries-form input[type="email"] {
    border-radius: 8px;
    height: 4.5vh;
    padding: 2px 5px;
    margin-bottom: 3vh;
    width: 100%;
    border: none;
    outline: none;
}

.queries-form input[type="email"] {
    width: 100%;
}

input:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.queries-form textarea {
    background-color: rgba(71, 86, 110, 0.6);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 2.3vh;
    margin: auto;
    max-width: 100%;
    min-width: 90%;
    height: 200px;
}

.queries-form input[type="submit"] {
    width: 200px;
    padding: 10px 5px;
    margin-top: 30px;
}