body {
    font-family: 'Poppins', sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    background: url(../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
}

.img1 {
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: 250px;
    margin-left: 150px;
}

.detail {
    width: 500px;
    height: 500px;
    margin-top: 250px;
    margin-left: 150px;
    background-color: yellow;
}

.loc {
    width: 200px;
    height: 200px;
    font-size: 200px;
}