* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    padding: 1.5rem 3rem;
}

nav {
    position: sticky;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
}

header .logo img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}


.top-container {
    background-color: rgba(71, 86, 110, 0.5);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.topleft {
    width: 40%;
}

.topright img {
    width: 300px;
    height: 300px;
}

.head1 {
    display: flex;
    flex-direction: row;

}


.main-container {
    justify-content: space-evenly;
}

.img1 img {
    width: 600px;
    height: 600px;
}

.text-top {
    color: white;
    font-size: 40px;
    margin-left: -2em;
    margin-bottom: 1em;

}

.detail {
    width: 500px;
    height: 600px;
    margin-top: 60px;
    /* margin-left: 500px; */
    color: white;
    font-size: 25px;
    border: 3px solid;
    padding-left: 100px;
    padding-top: 20px;
    border-color: aqua;
    background-color: black;
}

.loc {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 7px;
    margin-left: 35px;
    padding-left: 10px;
}


.dest {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 7px;
    margin-left: 39.5px;
    padding-left: 10px
}

.date {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 7px;
    margin-left: 42px;
    padding-left: 10px
}

.vac {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-left: 40px;
    padding-left: 10px
}

.detail button {
    margin-left: 100px;
    margin-top: 30px;
    width: 160px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    background-color: #5f03f4;
}

.detail button:hover {
    background-color: #853451;
}




.vacancy {
    color: white;
    flex: 0 0 auto;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    width: 350px;
    height: 400px;
    margin-bottom: 2cm;
    /* overflow: hidden; */
    /* animation: marquee 10s linear forwards; */
}

.vac-start {
    color: white;
    font-size: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ride-top-image {
    width: 600px;
    height: 600px;
}

.vac-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.vacancy-card-image {
    height: 10px;
    width: 700px;
    margin-left: -25px;
}

.vacancy {
    padding: 20px;
    font-size: 20px;
    background-color: #000;
}

/* .v1 {
    padding: 20px;
    font-size: 20px;

    background-color: #000;
}


.v2 {
    background-color: #ffb703;
}

.v3 {
    background-color: #023047;
}

.v4 {
    background-color: #219ebc;
}

.v5 {
    background-color: #8ecae6;
}

.v6 {
    background-color: #fb8500;
}

.v7 {
    background-color: #fb860046;
}

.v8 {
    background-color: #fb8500;
}

.v9 {
    background-color: #fb8500;
}

.v10 {
    background-color: #fb8500;
}

.v11 {
    background-color: #fb8500;
}
 */