*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    padding: 1.5rem 3rem;
}

nav {
    position: sticky;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
}

header .logo img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}


.top-container{
    background-color: rgba(71, 86, 110, 0.5);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.topleft{
    width:40%;
}

.topright img{
    width:300px;
    height:300px;
}
.post-container{
    /*background-color: rgba(71, 86, 110, 0.5);*/
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    height: 300px;  
    color: white;  
}
.middle-left img{
    width:250px;
    height:250px;
}
.middle-center{
    margin-top: 100px;
}
input{
    border-style:solid black;
    border-width: 4px;
    border-radius: 10px;
    height: 30px;
}
input[type='option']{
    width:100px;
}

fieldset{
    border-radius: 20px;
    margin-left: 10px;
    border-style:inset;
    border-width: 5px;
    border-color:indigo;
}
.left-container{
    justify-content: center;
}
.tiles-container{
    height:250px;
    justify-content: space-between;
}
.borrowbooks{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;   
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1); 
}
.borrownotes{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1);    
}
.earnmoney{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;   
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1); 
}
.borrowbooks img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
.borrownotes img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
.earnmoney img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
h5{
    color: white;
}
.post{
    justify-content:space-around;
    height: 500px;
    background-color: rgba(48, 126, 251, 0.1);
    border-radius: 10px;

}
.form{
    color: white;
}
#bookname {
    width:360px;    
}
.bookname{
    color: white;
}
