*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(../../assets/images/background_image.jpg) no-repeat;
    background-repeat: repeat-y;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    padding: 1.5rem 3rem;
}

nav {
    position: sticky;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: white;
}

header .logo img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}


.top-container{
    background-color: rgba(71, 86, 110, 0.5);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.topleft{
    width:40%;
}

.topright img{
    width:300px;
    height:300px;
}
.post-container{
    /*background-color: rgba(71, 86, 110, 0.5);*/
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-between;
    width: 100%;
    height: 300px;  
    color: white;  
}
.middle-left img{
    width:250px;
    height:250px;
}
.middle-center{
    margin-top: 100px;
}
input{
    border-style:solid black;
    border-width: 4px;
    border-radius: 10px;
    height: 30px;
}
input[type='option']{
    width:100px;
}

fieldset{
    border-radius: 20px;
    margin-left: 10px;
    border-style:inset;
    border-width: 5px;
    border-color:indigo;
}
.left-container{
    justify-content: center;
}
.tiles-container{
    height:250px;
    justify-content: space-between;
}
.borrowbooks{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;   
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1); 
}
.borrownotes{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1);    
}
.earnmoney{
    height:350px;
    width:300px;
    background-color: rgba(48, 126, 251, 0.1);
    padding: 40px 40px;
    border-radius: 10px;
    justify-content: space-evenly;   
    box-shadow: 10px 10px 10px rgba(10, 150, 238, 1); 
}
.borrowbooks img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
.borrownotes img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
.earnmoney img{
    height: 150px;
    width:150px;
    margin-left: 35px;
}
h5{
    color: white;
}
.post{
    justify-content:space-around;
    height: 550px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    
}
.form{
    color: white;
}
#bookname {
    width:360px;    
}
.bookname{
    color: white;
}
.post-right img{
    width:600px;
    height:600px;
    animation-name:rotation;
    animation-duration:7s;
    animation-iteration-count: infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
.post-left button{
    height: 40px;
    width:200px;
    margin-left: 75px;
}
.book1{
    height: 300px;
    width:300px;
    background-color: rgba(110, 64, 218, 0.5);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 15px 15px;
}
.book2{
    height: 300px;
    width:300px;
    background-color: rgba(218, 64, 126, 0.5);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 15px 15px;
}
.book3{
    height: 300px;
    width:300px;
    background-color: rgba(64, 218, 103, 0.5);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 15px 15px;
}
.book4{
    height: 300px;
    width:300px;
    background-color: rgba(218, 131, 64, 0.5);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 15px 15px;
}
.borrow-book{
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color:rgba(43, 41, 45, 0.5); */
}
.borrow{
    margin-top: 80px;
}
.borrow-top button{
   margin-left:20%;
   width: 60%;
   height:40px;
}
.borrow-top{
    margin-bottom: 60px;
    background-color: rgba(1, 1, 1, 1);
    border-radius: 10px;
    height: 350px;
    padding: 20px 20px;
}
.borrow-right img{
    height:250px;
    width:250px;
    animation-name: curve;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes curve{
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.bor{
    justify-content: space-evenly;
    border-radius: 10px;
}
span{
    filter: invert(1);
    margin-left: 42%;
    animation-name: movef;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes movef{
    0%{
        left:0px;
        top:0px;
    }
    100%{
        left:0px;
        top:25px;
    }
}
.pagination { 
    text-align: center; 
    margin-top: 2rem; 
} 
.pagination a { 
    color: white; 
    padding: 8px 16px; 
    text-decoration: none; 
    border: 1px solid #007BFF; 
    margin: 0 5px; 
    border-radius: 4px; 
} 
  
.pagination a:hover { 
    background-color: #007BFF; 
    color: white; 
} 
  
.pagination .active { 
    background-color: b; 
    color: white; 
} 
#page-numbers { 
    margin-top: 20px; 
    font-size: 16px; 
}
#page-numbers{
    color: white;
}
a{
    text-decoration: none; 
}
