header {
    position: sticky;
    padding: 1.5rem 3rem;
}

nav {
    position: sticky;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgba(71, 86, 110, 0.9);
}

header .logo img {
    height: 5.5rem;
    margin-left: 4rem;
}

header .nav-tab ul {
    list-style: none;
}

header .nav-tab ul li {
    margin-left: 4rem;
}

.nav-tab ul li a {
    text-decoration: none;
    font-size: var(20px);
    font-weight: 700;
}

.nav-tab ul li:hover a{
    scale: 1.01;
}

.nav-btn {
    margin-right: 4rem;
    position: relative;
    margin-left: 1rem;
}